@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Roboto:wght@100&family=Rubik+Pixels&display=swap");

/* estilo para el cuerpo del documento */
body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  background-color: black;
}

/* estilo para el canvas del juego */
#my-canvas {
  background-color: black;
  display: none;
}

/* Título principal */
h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  text-shadow: 10px 15px 15px black;
  margin-top: 50px;
}




/* pantalla de inicio */
#splash-screen {
  margin: 2% 5% 0 5%;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  /* display: none;
   */
}

/* pantalla game-over */

#gameover-screen {
  display: flex;
  justify-content: center;
  gap: 20%;
}

/* seccion izquierda GAMEOVER*/
.izq {

  background-image: url("../images/game-over.jpeg");
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

/* .izq button {
  margin-top: 400px;
} */

/* sección derecha GAMEOVER */

/* contenedor de instrucciones + boton de start */
#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  width: 500px;
  height: 300px;
  margin-top: 200px;
}

/* caja de instrucciones sola */
#instructions {
  display: flex;
  width: 250px;
  height: 125px;
  border-radius: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; /* justificaion del contenido entre los elementos de la caja*/
  background-color: white;
  padding: 7% 0;
}

/* ajuste para imagen de flechas */
.arrows {
  width: 80px;
  height: 80px;
}

#start-btn,
#restart-btn {
  font-family: "Orbitron", sans-serif;
  background-color: white;
  border: none;
  border-radius: 20px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  height: 50px;
  width: 120px;
}

/* contenedor general */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#my-canvas,
#gameover-screen {
  display: none;
}
